.f-screen {
  padding: 135px;
  margin-top: 150px;
  .wrapper-screen {
    @include set(1170px, 100%, auto, 0 auto);
    .screen-content {
      @include set(530px, 100%, auto, 0);
      h1,
      p {
        @include set(530px, 100%, auto, 0);
      }
    }
  }
  .screen-btn {
    position: relative;
    margin-top: 50px;
    .btn-shadow {
      @include set(unset, 112px, 13px, 0);
      position: absolute;
      bottom: -1px;
      left: 10px;
      opacity: 0.3;
      background: $secondary-coral;
    }
    &:hover,
    &:focus {
      button {
        color: $secondary-red;
      }
      .btn-shadow {
        background-color: $secondary-red;
      }
    }
  }
}
