.info {
  margin-top: 199px;
  padding: 0 135px;
  .info-block {
    @include set(1170px, 100%, auto, 0 auto);
    @include pos(relative);
    .info-bg-img {
      position: absolute;
      z-index: -1;
    }
    .info-container {
      @include set(770px, 100%, auto, 0 auto);
      @include grid(repeat(2, 1fr), 56px, 0);
      @include pos(relative);
      top: 45px;
      left: calc(20vw - 20%);
      background-color: $primary-white;
      opacity: 0.9;
      padding: 35px;
      .wrapper-info {
        @include flex(column, center, center, 0);
        @include set(400px, 100%, auto, 0);
        .info-numbers {
          @include set(400px, 100%, auto, 0);
          @include flex(column, center, center, 20px);
          .divider {
            margin: 20px;
          }
        }
      }
      .info-description {
        @include flex(column, flex-start, flex-start, 50px);
        @include set(400px, 100%, auto, 0);
        p {
          @include set(400px, 100%, auto, 0);
        }
      }
    }

    .info-btn {
      position: relative;
      margin-top: 10px;
      .btn-shadow {
        @include set(188px, 100%, 13px, 0);
        position: absolute;
        opacity: 0.3;
        bottom: 0;
        left: 10px;
        background-color: $secondary-coral;
      }
      &:hover,
      &:focus {
        button {
          color: $secondary-red;
        }
        .btn-shadow {
          background-color: $secondary-red;
        }
      }
    }
  }
}
