@media (max-width: 882px) {
  header {
    padding: 24px 40px;
    .header-wrapper {
      nav {
        ul {
          gap: 11px;
        }
      }
    }
  }

  .f-screen {
    padding: 40px;
  }

  .info {
    margin: 6rem;
    padding: 0;
    .info-block {
      .info-bg-img {
        display: none;
      }
      .info-container {
        @include set(unset, 100%, auto, 0);
        @include flex(column, flex-start, center, 50px);
        background: transparent;
        text-align: center;
        padding: 40px;
        position: static;
        .wrapper-info {
          @include set(300px, 100%, auto, 0);
          text-align: center;
        }
        .info-description {
          @include flex(column, flex-start, center, 50px);
          @include set(600px, 100%, auto, 0);
          p {
            @include set(600px, 100%, auto, 0);
          }
        }
      }
    }
  }

  .benefits {
    .benefits-container {
      padding: 0 40px;
      .wrapper-benefits {
        @include flex(column, center, center, 20px);
        .benefits-content {
          padding: 40px 0 20px 0;
        }
      }
    }
  }

  .quote {
    padding: 40px;
    img {
      top: 20px;
      left: 20px;
    }
  }

  .features {
    margin-top: -3rem;
    .features-bg-img {
      display: none;
    }
    .features-container {
      @include flex(column, center, center, 20px);
      @include set(800px, 100%, auto, 0 auto);
      text-align: center;
      padding: 0 40px 55px 40px;
    }
    .features-btn {
      border: none;
      button {
        padding: 0;
      }
      .btn-shadow {
        @include set(unset, 112px, 13px, 0);
        position: absolute;
        bottom: -1px;
        left: 10px;
      }
    }
  }

  .reviews {
    margin-top: 5rem;
    padding: 0 40px;
  }

  footer {
    padding: 0 40px;
    .footer-wrapper {
      @include grid(repeat(auto-fit, minmax(150px, 1fr)), 20px, 20px);
    }
  }
}
