// Fonts
$main-font: "Playfair Display";
$common-font: "Lato", sans-serif;

// Font-weights
$light-weight: 300;
$mid-weight: 400;
$bold-weight: 700;

// Colors
$primary-white: #ffffff;
$primary-dark-blue: #262a3f;
$primary-medium: #586291;
$primary-grey: #e4e4e4;
$secondary-coral: #f1897b;
$secondary-spring: #85bbb1;
$secondary-red: #e54f3a;

$common-border: 1px solid $primary-grey;
$red-border: 1px solid $secondary-red;
