@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap");
fieldset, legend {
  border: 0;
  padding: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus, a:active, a:hover {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: dotted thin;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure, form {
  margin: 0;
}

legend {
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

fieldset {
  margin: 0;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

main .content button, main .content p, main .content h3, main .content h2, header .heading h1, header .heading h4 {
  text-align: center;
  font-style: normal;
}

.fl-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fl-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

header {
  margin-bottom: 90px;
}
header .heading {
  gap: 15px;
  width: 450px;
  height: 157px;
  background: unset;
  position: relative;
  border-bottom: 1px solid #ffcc00;
}
header .heading h4 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #898f8f;
}
header .heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 66px;
  text-transform: uppercase;
  color: #ffcc00;
}
header .heading img {
  position: absolute;
  bottom: -10px;
  background: #ffffff;
}

main {
  max-width: 1030px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
main .sc-1 {
  border-right: 1px solid #ffcc00;
  padding: 80px 130px 0 0;
  height: 600px;
}
main .sc-1 .photo {
  position: relative;
}
main .sc-1 .photo .angle {
  position: absolute;
}
main .sc-1 .photo .angle:nth-child(1) {
  top: -1rem;
  right: -1rem;
}
main .sc-1 .photo .angle:nth-child(2) {
  top: -1rem;
  left: -1rem;
  transform: rotate(-90deg);
}
main .sc-1 .photo .angle:nth-child(3) {
  bottom: -1rem;
  right: -1rem;
  transform: rotate(90deg);
}
main .sc-1 .photo .angle:nth-child(4) {
  bottom: -1rem;
  left: -1rem;
  transform: rotate(180deg);
}
main .content {
  padding-left: 100px;
}
main .content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  color: #666666;
}
main .content .divider {
  width: 100px;
  height: 1px;
  background: #ffcc00;
  margin: 30px 0;
}
main .content h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: capitalize;
  color: #666666;
}
main .content nav {
  margin: 30px 0 49px 0;
}
main .content nav ul {
  gap: 5px;
}
main .content p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: none;
  color: #333333;
  width: 430px;
  height: 116px;
  background: unset;
}
main .content .rectangle-wrap {
  gap: 5px;
  margin: 20px 0 25px 0;
}
main .content .rectangle-wrap .rectangle {
  width: 10px;
  height: 4px;
  background: #ffcc00;
}
main .content .rectangle-wrap .rectangle-big {
  width: 20px;
  height: 4px;
  background: #ffcc00;
}
main .content button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: #666666;
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid #ffcc00;
}

/*# sourceMappingURL=style.css.map */
