.features {
  @include set(1170px, 100%, auto, 0 auto);
  position: relative;
  margin-top: 165px;
  .features-bg-img {
    position: absolute;
    left: 135px;
    z-index: -1;
    img {
      @include set(600px, 100%, 540px, 0);
    }
  }
  .features-container {
    @include set(900px, 100%, auto, 0 auto);
    @include grid(repeat(auto-fit, minmax(300px, 1fr)), 100px, 70px);
    padding: 75px 70px;
    position: relative;
    top: 60px;
    left: calc(20vw - 20%);
    background-color: $primary-blue-deep;
    opacity: 0.9;
    > * {
      @include set(unset, fit-content, auto, 0);
    }
  }
  .features-btn {
    position: relative;
    border: $common-border;
    margin-top: 10px;
    button {
      padding: 30px 75px;
    }
    .btn-shadow {
      @include set(unset, 112px, 13px, 0);
      position: absolute;
      bottom: 1.8rem;
      left: 5.3rem;
      opacity: 0.3;
      background: $secondary-neon-green;
    }
    &:hover,
    &:focus {
      border: $neon-border;
      button {
        color: $secondary-neon-green-dark;
      }
      .btn-shadow {
        background-color: $secondary-neon-green-dark;
      }
    }
  }
}
