footer {
  margin-top: 100px;
  padding: 0 135px;
  .footer-container {
    @include set(1170px, 100%, auto, 0 auto);
    @include grid(repeat(2, 1fr), 20px, 30px);
    padding: 60px 0 104px 0;
    border-top: $common-border;
    border-bottom: $common-border;
    .footer-contact {
      @include flex(column, flex-start, flex-start, 29px);
      margin-top: 21px;
      p {
        @include set(470px, 100%, auto, 0);
      }
    }
    .footer-form {
      @include flex(column, flex-start, flex-start, 40px);
      justify-self: end;
      align-self: start;
      form {
        @include flex(column, flex-start, flex-end, 40px);
        label {
          @include set(470px, 100%, auto, 0);
          input {
            @include text-set($main-font, 18px, italic, $mid-weight, 20px, $primary-dark-blue);
            letter-spacing: 1px;
            opacity: 0.5;
            border: none;
            background: none;
            padding-bottom: 12px;
            border-bottom: $common-border;
          }
        }
      }
      .footer-btn {
        position: relative;
        .btn-shadow {
          @include pos(absolute);
          @include set(unset, 163px, 13px, 0);
          bottom: -1px;
          left: 10px;
          opacity: 0.3;
          background: $secondary-coral;
        }
        &:hover {
          button {
            color: $secondary-red;
          }
          .btn-shadow {
            background-color: $secondary-red;
          }
        }
      }
    }
  }
  .footer-wrapper {
    @include set(1170px, 100%, auto, 0 auto);
    @include flex(row, space-between, center, 10px);
    padding: 20px 0;
    > * a {
      @include text-set($common-font, 14px, normal, $mid-weight, 24px, $primary-dark-blue);
      letter-spacing: 1px;
    }
    .footer-item-1 {
      p::before {
        content: "©";
        margin-right: 5px;
      }
    }
    .footer-item-2 {
      @include flex(row, space-between, center, 12px);
    }
    .footer-item-3 {
      @include flex(row, space-between, center, 32px);
    }
  }
}
