header {
  backdrop-filter: blur(8px);
  padding: 24px 135px;
  margin-top: 30px;
  .header-wrapper {
    @include set(1170px, 100%, auto, 0 auto);
    @include grid(107px 1fr, 10px, 0);
    justify-items: end;
    align-items: center;
    nav {
      padding-top: 5px;
      ul {
        @include flex(row, center, center, 30px);
        li {
          a {
            @include text-set($common-font, 14px, normal, $mid-weight, 24px, $primary-white);
            letter-spacing: 1px;
            border-bottom: 3px solid transparent;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            padding-bottom: 5px;
            &:hover {
              border-image-slice: 1;
              border-width: 3px;
              border-image-source: linear-gradient(90deg, #53f3ce7e, #114238);
              border-left: 0;
              border-right: 0;
              border-top: 0;
            }
          }
        }
      }
    }
  }
}
