@import "extensions/_reset";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital@0;1&display=swap");
@import "extensions/_var";
@import "extensions/_mixin";
@import "extensions/_default";
* {
  box-sizing: border-box;
  scroll-margin-top: 6rem;
  scroll-behavior: smooth;
}
@import "sections/header";
@import "sections/f-screen";
@import "sections/info";
@import "sections/benefits";
@import "sections/quote";
@import "sections/video";
@import "sections/features";
@import "sections/reviews";
@import "sections/footer";
@import "media-q/media-1440";
@import "media-q/media-1014";
@import "media-q/media-882";
@import "media-q/media-670";
@import "media-q/media-590";
body {
  .bg-img {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 1028px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../media/img/f-screen/f-screen-bg.png");
    @include bg;
  }
}
@import "media-q/media-dark";
