@media (max-width: 590px) {
  // Default
  p {
    font-size: 16px;
  }
  header {
    margin-top: 0;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: 0.3s ease;
    .header-container {
      nav {
        @include set(unset, fit-content, 100vh, 0);
        position: absolute;
        top: 0;
        left: -294px;
        background: $primary-white;
        transition: 0.3s ease-in-out;
        ul {
          @include flex(column, center, flex-start, 20px);
          padding: 40px 53px 10px 34px;
          position: sticky;
          top: 0;
        }
      }
      .burger {
        @include flex(column, center, center, 5px);
      }
    }
  }
  section {
    position: relative;
    z-index: -1;
  }

  // Sections
  .f-screen {
    padding: 0 12px;
  }
  .info {
    margin: 4rem 0 0 0;
    position: relative;
    z-index: -1;
    .info-container {
      @include flex(column, center, center, 20px);
      padding: 25px 12px;
      .info-block {
        .info-numbers {
          @include flex(column, center, center, 10px);

          .divider {
            margin: 10px;
          }
        }
      }
      .info-description {
        @include flex(column, center, center, 10px);
        text-align: center;
      }
    }
  }
  .benefits {
    .benefits-container {
      padding: 0 12px;
      .benefits-wrapper {
        @include flex(column, center, center, 20px);
        .benefits-content {
          padding: 30px 0;
        }
      }
    }
  }
  .quote {
    padding: 24px 12px 40px 12px;
  }
  .video {
    padding: 12px 12px 0 12px;
  }
  .features {
    .features-container {
      padding: 20px 12px;
    }
  }
  .reviews {
    padding: 0 12px;
    .reviews-container {
      .reviews-wrapper {
        gap: 20px;
        .reviews-item {
          padding: 25px 20px;
        }
      }
    }
  }
  footer {
    padding: 0 12px;
    .footer-container {
      @include flex(column, center, flex-start, 40px);
      padding: 30px;
      .footer-form {
        form {
          @include flex(column, center, center, 20px);
        }
      }
    }
    .footer-wrapper {
      @include flex(column, center, center, 20px);
      .footer-item-1 {
        order: 1;
      }
      .footer-item-2,
      .footer-item-3 {
        @include flex(row, center, center, 10px);
        @include set(unset, 100%, auto, 0);
      }
      text-align: center;
    }
  }
  .header.active {
    backdrop-filter: none;
    background: $primary-white;
    .header-container {
      nav {
        @include set(unset, fit-content, 100vh, 0);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  main,
  footer {
    &.blur {
      filter: blur(5px);
    }
  }
}
