@media (max-width: 670px) {
  // Default
  header {
    padding: 24px 24px;
    .header-container {
      nav {
        ul {
          gap: 15px;
        }
      }
    }
  }
  section:not(.header, .quote, .features),
  footer {
    padding: 0 24px;
  }

  // Sections
  .quote {
    padding: 24px 50px 40px 50px;
    overflow: hidden;
    img.img {
      top: -20px;
      left: 10px;
    }
  }
  .video {
    @include set(1170px, 100%, auto, 0 auto);
    .video-screen {
      @include set(970px, 100%, auto, 0 auto 50px auto);
      padding: 30px 31px 70px 31px;
      img:not(.tablet) {
        position: absolute;
        &:nth-of-type(2) {
          inset: 50%;
          translate: -50% -50%;
        }
        &:nth-of-type(3) {
          top: unset;
          bottom: 0;
          right: 50%;
          translate: 50% -50%;
        }
        &:nth-of-type(4) {
          top: 0;
          left: 50%;
          translate: -50% 50%;
        }
      }
    }
  }
  .features {
    margin-top: -5rem;
  }
}
