@import "reset.scss";

%border {
  border: 1px solid black;
  border-radius: 0.4rem;
}

%grid-center {
  display: grid;
  place-items: center;
}

%divider {
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  @extend %grid-center;
  height: 100vh;
  width: 100vw;

  section {
    padding: 1rem;

    form#myForm {
      @extend %border;
      text-align: center;
      -webkit-box-shadow: 29px 25px 125px -42px rgba(0, 0, 0, 0.54);
      -moz-box-shadow: 29px 25px 125px -42px rgba(0, 0, 0, 0.54);
      box-shadow: 29px 25px 125px -42px rgba(0, 0, 0, 0.54);

      h2 {
        font-weight: bold;
        font-size: 3rem;
        padding: 1.5rem 0;
      }

      div.container {
        @extend %grid-center;
        @extend %divider;
        position: relative;
        padding: 2rem 5rem;
        row-gap: 1rem;

        label {
          font-size: 1.1rem;
        }

        input,
        textarea {
          @extend %border;
          padding: 0.5rem;
        }

        textarea#message {
          width: 92%;
        }
      }

      div.btn {
        @extend %divider;
        position: relative;
        padding: 1.5rem 0;
      }

      button {
        @extend %border;
        background: transparent;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;

        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
