@import "reset.scss";

%border {
  border: 1px solid black;
  border-radius: 0.4rem;
}
%grid-center {
  display: grid;
  place-items: center;
}
%inputs {
  display: grid;
  row-gap: 0.4rem;
  text-align: start;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
main {
  @extend %grid-center;
  height: 100vh;
  width: 100vw;
  section {
    padding: 1rem;
    form#myForm {
      @extend %border;
      text-align: center;
      h2 {
        font-weight: bold;
        font-size: 2.4rem;
        padding: 1.5rem 0;
      }
      div.container {
        @extend %grid-center;
        position: relative;
        padding: 1.5rem 3rem;
        row-gap: 1.5rem;
        div.input-wrapper {
          display: flex;
          gap: 1rem;
          div.text-input {
            @extend %inputs;
            text-align: start;
          }
        }
        div.textarea-wrapper {
          @extend %inputs;
          width: 100%;
        }
        label {
          font-size: 1.1rem;
          padding-left: 0.5rem;
        }
        input,
        textarea {
          @extend %border;
          padding: 0.5rem;
          font-family: inherit;
        }
      }
      div.btn {
        position: relative;
        padding: 1.5rem 0;
        button {
          @extend %border;
          background: transparent;
          padding: 0.5rem 1rem;
          font-family: inherit;
          font-size: 1.1rem;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
}
