header {
  @include grid(107px 1fr, 10px, 0);
  justify-items: end;
  align-items: center;
  padding: 24px 135px;
  backdrop-filter: blur(8px);
  margin-top: 30px;
  nav {
    padding-top: 5px;
    ul {
      @include flex(row, center, center, 30px);
      li {
        border-bottom: 3px solid transparent;
        a {
          @include text-set($common-font, 14px, normal, $mid-weight, 24px, $primary-dark-blue);
          letter-spacing: 1px;
          &:hover {
            border-bottom: 3px solid rgba(255, 99, 71, 0.3);
          }
        }
      }
    }
  }
}
