// colors
$gold: #ffcc00;
$sub-text: #898f8f;
$light-gray: #cccccc;
$mid-gray: #666666;
$dark-gray: #333333;
$white: #ffffff;

// weights
$weight-light: 400;
$weight-mid: 500;
$weight-mid-more: 700;
$weight-max: 900;

// fonts
$font-sub: "Raleway", sans-serif;
$font-main: "Roboto", sans-serif;
$font-btn: "Open Sans", sans-serif;

// absolute
$spacing: -1rem;

// border
$border: 1px solid $gold;
