header {
  padding: 1.5rem;
}
header nav {
  display: inline-block;
  margin-left: 18rem;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  margin-right: 1rem;
  color: black;
  font-family: Montserrat;
}
header nav ul li a:hover {
  opacity: 70%;
  color: #FF9900;
}
header .btn {
  display: inline;
  margin-left: 30rem;
}
header .btn button:nth-child(1){
  margin-right: 2rem;
  padding: 13px 25px;
  background: #F6F6F6;
  color: #2F281E;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
}
header .btn button:nth-child(2) {
  width: 110px;
  height: 46px;
  padding: 13px 25px;
  border: none;
  border-radius: 4px;
  background: #F90;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header a img {
  width: 33px;
  height: 31px;
}
#poductly {
  width: 154px;
  height: 29px;
  margin: 4px 0 0 0.5rem;
}
/*firstscreen*/
main .firstscreen .text {
  display: inline-block;
  margin-left: 3rem;
}
.text h1 {
  width: 500px;
  height: 110px;
  color: #2F281E;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}
.text p {
  width: 500px;
  height: 91px;
  color: #544837;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.text button {
  width: 130px;
  height: 46px;
  padding: 13px 25px;
  border: none;
  border-radius: 4px;
  background: #F90;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.firstscreen img {
  margin-left: 20rem;
  width: 644px;
  height: 495px;
}
