* {
	scroll-behavior: smooth;
	transition: all .1s ease-in;
}
html {
	font-family: Montserrat;
}
/*header*/
header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
nav ul {
	display: flex;
	gap: 1rem;
}
nav a img {
	width: 33.831px;
	height: 31.938px;
	flex-shrink: 0;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: chocolate;
	opacity: 70%;
}
#poductly {
	width: 154.229px;
	height: 29.067px;
	flex-shrink: 0;
	margin-left: 0.5rem;
}
.btn {
	display: flex;
	gap: 2rem;
	justify-content: flex-end;
}
.btn button {
	padding: 13px 25px;
}
.btn button:hover {
	transform: translateY(0.5rem);
}
header nav .btn button:nth-child(1) {
	background: #F6F6F6;
	color: #2F281E;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	border-radius: 4px;
	border: 1px solid #BCD0E5;
}
header nav .btn button:nth-child(2) {
	display: flex;
	width: 110px;
	height: 46px;
	padding: 13px 25px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border: none;
	border-radius: 4px;
	background: #F90;
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
/*main*/
/*firstscreen*/
.firstscreen {
	margin-top: 5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.text h1 {
	width: 500px;
	height: 110px;
	flex-shrink: 0;
	color: #2F281E;
	font-family: Montserrat;
	font-size: 44px;
	font-style: normal;
	font-weight: 700;
	line-height: 54px;
}
.text p {
	width: 500px;
	height: 91px;
	flex-shrink: 0;
	color: #544837;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	color: #544837;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.text button {
	display: flex;
	width: 180px;
	height: 50px;
	padding: 13px 40px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border: none;
	border-radius: 4px;
	background: #F90;
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.firstscreen img {
	width: 644px;
	height: 495px;
}
