.blog {
  grid-template-areas:
    "wrapper-blog   wrapper-blog"
    "blog-item-1  blog-item-1"
    "blog-item-2  blog-item-2";
  .wrapper-blog {
    gap: 30px;
    grid-area: wrapper-blog;
    h2 {
      @include set(570px, 100%, auto, 0 auto);
    }
    p {
      @include set(570px, 100%, auto, 0 auto);
      opacity: 0;
    }
  }
  .blog-item-1,
  .blog-item-2 {
    > *,
    img {
      @include set(570px, 100%, auto, 0 auto);
    }
  }
  .blog-item-1 {
    margin-bottom: 50px;
    grid-area: blog-item-1;
  }
  .blog-item-2 {
    grid-area: blog-item-2;
  }
}
