%fl-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%fl-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%text-center {
  text-align: center;
}
%in-margin {
  margin: 0 auto;
}
%p-abs {
  position: absolute;
}
