// Colors
$base-cl-black: #000000;
$base-cl-white: #ffffff;
$cl-dark-gray: #323232;
$cl-gray-100: #f4f4f4;
$cl-gray-500: #7b7b7b;
$cl-gray-700: #565656;

// Fonts
$main-font: "Red Hat Display", sans-serif;
$common-font: "Lato", sans-serif;
$light-weight: 400;
$regular-weight: 500;
$mid-weight: 600;
$bold-weight: 700;
